.vscode
release
*.o
*.d
gmon.out
host/TcpClient
host/TcpServer
host/UdpClient
host/UdpServer
mininet/log/*.log
*.swp
*.pcap
redis/*.txt
mininet/*.txt
mininet/random_data/*.txt
__pycache__
gmon.out
a.out