.vscode
release
*.o
*.d
gmon.out
data/
switch/FMSwitch
controller/controller
server/server
server/client
mininet/log/*.log
*.swp
*.pcap
redis/*.txt
mininet/*.txt
mininet/random_data/*.txt
__pycache__
gmon.out
a.out